name: reflection-events-labeler

on:
  - pull_request_target

jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v5
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
      - run: 'echo "$STRONG_NAME_KEY" > key'
        shell: bash
        env:
          SSH_KEY: ${{secrets.STRONG_NAME_KEY}}
